# Fichiers Rust / Cargo
**/target/
**/*.rs.bk

# Fichiers Node / React (Tauri)
**/node_modules/
**/dist/
**/build/

# Bases de données locales & Coffres (Ne jamais uploader les clés !)
**/*.json
!package.json
!package-lock.json
!tauri.conf.json
.wattcoin_vault
.wattcoin_spends
Github.txt
SSH.txt
Commandes.txt

# Fichiers système
.DS_Store
Thumbs.db

# ==========================================
# RELEASES & BINAIRES (Ne jamais uploader !)
# ==========================================
**/*.tar.gz
**/*.zip
**/*.deb
**/*.exe
**/*.msi
**/*.AppImage
**/wattcoin-node-*/


# Ne jamais uploader les fichiers de hash/checksum
*.sha256
*.asc